<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHealthKeeper"
        tools:targetApi="31">
        <activity
            android:name=".MyPatient"
            android:exported="false" />
        <activity
            android:name=".VideoCall"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".PatientPrescription"
            android:exported="false" />
        <activity
            android:name=".MyPrescription"
            android:exported="false" />
        <activity
            android:name=".PatientDetails"
            android:exported="false" />
        <activity
            android:name=".DoctorPrescribtion"
            android:exported="false" />
        <activity
            android:name=".BookingTimeSlot"
            android:exported="false" />
        <activity
            android:name=".DoctorMyAppointment"
            android:exported="false" />
        <activity
            android:name=".PatientBookAppointment"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".MyAppointment"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".FindDoctor"
            android:exported="false" />
        <activity
            android:name=".MainActivityDoctor"
            android:exported="false" />
        <activity
            android:name=".splash_screenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>